{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {files, ["{src,include,test}/*.{hrl,erl,src}", "rebar.config"]}
]}.

{relx, [
    {release, {release_portal, "0.1.0"}, [
        release_portal,
        sasl,
        inets
    ]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.
